<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
        </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
        <!-- 
            The file path will be replaced in code at runtime to enable Windows XP support but
            the filename will remain 
            -->
        <file type="log4net.Util.PatternString"
              value="${LOCALAPPDATA}\Thomson Reuters\MetaStock\DataAPI\Logs\MSDataAPILog.txt" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="20" />
        <maximumFileSize value="2048KB" />
        <countDirection value="1" />
        <staticLogFileName value="true" />
        <datePattern value=".yyyy-MM-dd" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date %-5level [%property{TRANSACTION_ID}] [%thread] %logger{2} - %message%newline" />
        </layout>
    </appender>
    <root>
        <!--
            ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF
            -->
        <level value="WARN" />
        <!--<appender-ref ref="ConsoleAppender" />-->
        <appender-ref ref="FileAppender" />
    </root>
    <!--<logger name="MetaStock.DataAPI.XenithServices">
        --><!--
            ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF
        --><!--
        <level value="INFO" />
    </logger>-->
</log4net>